.aboutContainer{
    display: flex;
    justify-content: center;
}

.aboutCen {
    display: flex;
    justify-content: center;
    width: 80%;
}

.aboutLeft {
    padding: 1rem;
    width: 50%;
}

.aboutLeft > div {
    text-align: end;
}

.aboutIMG {
    width: 100%;
}

.aboutRight {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aboutHeader {
    font-weight: 800;
    width: 35%;
}

.aboutPara {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .aboutLeft {
        display: none;
    }
    
    .aboutRight {
        width: 100%;
    }

    .aboutHeader {
        width: 70%;
    }

    .aboutPara {
        width: 100%;
    }
}