.photoContainer {
    padding: 1rem;
}

.bigDiv {
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.centerDiv {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.imageItem {
    width: 100%;
}