.servicesContainer {
    position: relative;
    height: 100vh;
    margin-bottom: 12rem;
}

.heroContainer {
    background-image: url(../../assets/servhero.jpg);
    background-repeat: no-repeat;
    height: 50%;
    background-size: cover;
    background-position: center;
}

.servicesDiv {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 10rem;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.itemsContainer {
    position: absolute;
    top: 16rem;
    padding: 2rem;
    margin: auto;
    background: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 75%;
}

.itemsRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.itemsCell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemsCard {
    display: flex;
    flex-direction: column;
    max-width: 22rem;
    height: 24rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.itemCard > h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.itemCard > ul {
    padding: 1rem;
}

.itemButton > button {
    background-color: black;
    color: white;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 3rem;
    width: 8rem;
    font-weight: 700;
    border: 4px solid black;
}

.itemButton > button:hover {
    color: black;
    background-color: white;
}

.itemButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemHeader {
    background-color: black;
    color: white;
    padding: 1rem;
}

.itemHeader > h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.itemBody {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.5rem;
    padding: 1.5rem;
}

@media screen and (max-width: 1024px){
    .servicesContainer {
        margin-bottom: 25rem;
    }
    .servicesDiv {
        top: 1rem;
    }
    .itemsContainer {
        top: 4rem;
        width: 90%;
    }
    .itemsRow {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px){
    .servicesContainer {
        margin-bottom: 100rem;
    }

    .itemsContainer {
        top: 4rem;
        width: 100%;
    }

    .itemsRow {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .itemCard > ul {
        padding: 1.5rem;
    }
}